<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">  <display-name>Practicum</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.practicum.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>com.practicum.servlet.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/registrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modificarCuenta</servlet-name>
    <servlet-class>com.practicum.servlet.ModificarCuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarCuenta</servlet-name>
    <url-pattern>/modificarCuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eliminarCuenta</servlet-name>
    <servlet-class>com.practicum.servlet.EliminarCuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarCuenta</servlet-name>
    <url-pattern>/eliminarCuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingresarInfoPersonalServlet</servlet-name>
    <servlet-class>com.practicum.servlet.IngresarInfoPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingresarInfoPersonalServlet</servlet-name>
    <url-pattern>/ingresarInfoPersonal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ingresarInfoEmpresaServlet</servlet-name>
    <servlet-class>com.practicum.servlet.IngresarInfoEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingresarInfoEmpresaServlet</servlet-name>
    <url-pattern>/ingresarInfoEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IngresarCurriculumServlet</servlet-name>
    <servlet-class>com.practicum.servlet.IngresarCurriculumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarCurriculumServlet</servlet-name>
    <url-pattern>/ingresarCurriculum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IngresarNotasServlet</servlet-name>
    <servlet-class>com.practicum.servlet.IngresarNotasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarNotasServlet</servlet-name>
    <url-pattern>/IngresarNotas</url-pattern>
  </servlet-mapping>
</web-app>