@charset "utf-8";
/* CSS Document */

html,body{
	margin:0;
	padding:0;
	background-image:url(img/bg.png);
}
#main{
	height:350px;
	width:600px;
	position:absolute;
    left:50%;
    top:50%;
    margin:-175px 0 0 -300px;
	background-color:#FFF;
	border-radius:20px;
}
header{
	position:relative;
	/*border:double;*/
	width:100%;
	height:90px;
	top:20px;
}
header #logo{
	position:absolute;
	/*border:double;*/
	width:200px;
	left:50px;
}
header h1{
	position:absolute;
	right:50px;
	/*border:double;*/
	color:#00529c;
	font-family: Arial, Helvetica, sans-serif;
}
#form1{
	position:absolute;
	top:110px;
	left:130px;
	padding:19px;
	color:#2D2D2D;
	/*border:double;*/
	width:300px;
	z-index:1;
	text-align:center;
}
#form1 h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}

.loginRec{
	font-size:12px;
	color:#3D3A3A;
}
#recPass{
	color:#344AB6;
	font-size:12px;
}
#loginIcon img{
	position:absolute;
	top:140px;
	right:180px;
	width:auto;
	height:150px;
	/*border:double;*/
}
.button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding: 4px 9px;
	background: -moz-linear-gradient(
		top,
		#299bff 0%,
		#0041a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#299bff),
		to(#0041a3));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #545454;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
#msjInvalidLoggin{
	position:absolute;
	top:120px;
	left:90px;
	padding:19px;
	color:#2D2D2D;
	/*border:double;*/
	width:600px;
	z-index:1;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
}